:root {
  --header-bg-color: #d9c2d0;
  --header-fg-color: #606;
  --main-bg-color: #00bfff;
  --board-bg-color: #fbf5d0;
  --board-fg-color: #191970;
  --teamList-bg-color: #dde1e4;
  --teamList-fg-color: #606;
  --currentPlayer-bg-color: #000080;
  --currentPlayer-border-color: #c0c0c0;
  --currentPlayer-fg-color: #fff;
  --selectedPlayer-bg-color: #73628e;
  --selectedPlayer-fg-color: #fff;
}

html,
body {
  background-color: var(--main-bg-color);
}

#board {
  z-index: 2;
  position: absolute;
  width: 98%;
  height: 70%;
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 5px;
  border-style: none;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#board td {
  text-align: center;
  width: 30%;
  height: 30%;
  cursor: pointer;
  font-size: 2.2em;
  font-weight: bold;
  line-height: 1.1em;
  border-radius: 20px;
  background-color: var(--board-bg-color);
  color: var(--board-fg-color);
  border: 8px solid #56534f;
}

#board td:hover {
  border: 8px solid #fff;
}

#board td img {
  max-width: 290px;
  max-height: 170px;
}

#board td.winningMove {
  background: #fff;
}

#board td.selectedCell1 {
  background-color: #89c889;
}
#board td.selectedCell2 {
  background-color: #bb0000;
}

#scoreDiv {
  width: 95%;
  text-align: center;
  padding: 6px;
  margin: 20px auto;
  height: 11%;
}

#scoreDiv .scoreBoardTeam01 {
  float: left;
}

#scoreDiv .scoreBoardTeam02 {
  float: right;
}

.score {
  font-size: 3em;
  font-weight: bold;
  display: inline-block;
  color: #191970;
  padding: 5px 20px;
  margin: 0px 20px;
  background-color: var(--header-bg-color);
}

#logoTeam01,
#logoTeam02,
#tempLogo01,
#tempLogo02 {
  z-index: 10;
  position: absolute;
  top: 40px;
  width: 40px;
  transition: all 0.7s ease;
}

#logoTeam01,
#tempLogo01 {
  left: 12%;
}

#logoTeam02,
#tempLogo02 {
  left: 85%;
}

#logoTeam01.selected,
#tempLogo01.selected {
  top: 30px;
  left: 25%;
  width: 100px;
}

#logoTeam02.selected,
#tempLogo02.selected {
  top: 30px;
  left: 70%;
  width: 80px;
}

.clone {
  width: 100px;
}

#currentPlayerContainer {
  position: absolute;
  top: 3%;
  left: 50%;
}

#currentPlayerName {
  position: relative;
  left: -50%;
  font-size: 40px;
  font-weight: bold;
  background-color: var(--currentPlayer-bg-color);
  color: var(--currentPlayer-fg-color);
  border: 6px solid var(--currentPlayer-border-color);
  box-shadow: 0px 0px 15px #000;
  border-radius: 15px;
  padding: 10px;
}

#currentPlayerName.zoom {
  animation-duration: 1s;
  animation-name: zoom;
}

@keyframes zoom {
  0% {
    font-size: 0px;
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    font-size: 40px;
    transform: rotate(720deg);
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    width: 50px;
  }
  50% {
    width: 100px;
  }
  100% {
    width: 50px;
  }
}

img.team-0,
img.team-1 {
  animation-name: wave;
  animation-duration: 0.6s;
}

.teamPlayersList {
  font-size: 1.3em;
  line-height: 1.3em;
  list-style-type: none;
}

.teamPlayersList li {
  cursor: pointer;
}
.teamPlayersList li:hover {
  text-decoration: underline;
}

ul#absentPlayers {
  columns: 4;
}
ul#absentPlayers li {
  cursor: pointer;
}

#actionDiv {
  text-align: center;
}

ul#actions {
  list-style-type: none;
}

ul#actions li {
  display: inline;
}

#questiondiv img {
  max-width: 100%;
  height: auto;
}

.teamList,
.teamPlayer {
  display: none;
}

.teamPlayer {
  line-height: 1.5em;
  font-size: 1.5em;
}

.teamPlayer > * {
  cursor: pointer;
}

.activePlayer {
  display: block;
}

#actionDiv {
  height: 40%;
}

#myDialog {
  text-align: center;
  display: block;
  height: auto;
  max-width: 50%;
}

#myDialog > button {
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 50px;
}
