html,
body {
  width: 100%;
  height: 100%;
  /* background: url("./assets/img/soccer_field.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: 50% 70%; */
  /* background-size: 750px 500px; */
  /* background-size: 65% 70%; */
  background-color: #00a144; /* #00d100; */
  overflow: hidden;
}

#gameBoard {
  position: absolute;
  width: 65%;
  height: 65%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-45%);
  background: url("./assets/img/soccer_field.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-position: 50% 60%; */
  z-index: 1;
}
#ball {
  position: absolute;
  width: 40px;
  height: 40px;
  opacity: 1;
  top: 51%;
  left: 48.6%;
  z-index: 2;
}

#ball.pass01 {
  transition: all 1s ease-out;
  animation: animBall 1s;
}

#ball.pass02 {
  transition: all 1s ease-out;
  animation: animBall 1s;
}

#ball.shoot {
  transition: all 0.5s ease;
  animation: shootBall 0.5s;
}

@keyframes animBall {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(1.3);
  }
  100% {
    transform: rotate(600deg) scale(1);
  }
}

@keyframes shootBall {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(600deg) scale(0.5);
  }
}

#scoreDiv {
  width: 90%;
  height: 100px;
  text-align: center;
  background-color: darkgreen;
  border: 3px solid #fff;
  border-radius: 20px;
  padding: 5px;
  margin: 20px auto;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}
#score {
  position: absolute;
  left: 45.5%;
  margin-top: 10px;
  font-size: 2.5em;
  text-shadow: #000 5px 5px 5px;
  color: #fff;
}
.scorer {
  display: inline-block;
  margin: 0 5px;
}
#scorersTeam01 {
  float: left;
  margin-left: 80px;
}
#scorersTeam02 {
  float: right;
  margin-right: 80px;
}

.yellowCard,
.redCard {
  display: inline-block;
  width: 15px;
  height: 20px;
  border: 1px solid #000;
  margin: 0 5px;
  box-shadow: 0px 0px 5px #000;
}
.yellowCard {
  background-color: yellow;
  transform: rotate(-5deg);
}
.redCard {
  left: -20px;
  background-color: red;
  transform: rotate(5deg);
}

#team01,
#team02 {
  position: absolute;
  text-align: center;
  background-color: darkgreen;
  border: 3px solid #fff;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}
#team01 {
  left: 50px;
}
#team02 {
  right: 50px;
}
#team01 > h1 {
  background-color: orange;
}
#team02 > h1 {
  background-color: #ac9fc9;
}
.teamPlayersList {
  font-size: 1.3em;
  list-style-type: none;
}

.teamPlayersList li {
  cursor: pointer;
  padding: 2px 5px;
}

#actionDiv {
  text-align: center;
}
ul#actions {
  list-style-type: none;
}
ul#actions li {
  display: inline;
}

#questionDiv img {
  max-width: 100%;
  height: auto;
}

.teamList,
.teamPlayer {
  display: none;
}
.teamPlayer {
  line-height: 1.5em;
  font-size: 1.5em;
}
.teamPlayer > * {
  cursor: pointer;
}

.activePlayer {
  display: block;
}

ul.playersList {
  list-style-type: none;
  columns: 4;
}

#question {
  margin-top: 30px;
  font-size: 3em;
}

#selectedTeam01Player,
#selectedTeam02Player {
  position: absolute;
  padding: 5px;
  font-size: 3em;
  border: 2px solid #fff;
  background-color: #606;
  color: #000;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.8s ease;
  top: 30px;
}
#selectedTeam01Player {
  left: 15%;
  background-color: orange;
}
#selectedTeam02Player {
  right: 15%;
  background-color: #ac9fc9;
}
#selectedTeam01Player.started {
  left: 5%;
  font-size: 3.5em;
  top: 70%;
}
#selectedTeam02Player.started {
  right: 5%;
  font-size: 3.5em;
  top: 70%;
}
.receiver {
  z-index: 3;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  border: 2px solid #000;
  padding: 5px;
  font-size: 1.5em;
}

#endTitle {
  border: 3px dotted #ddd;
  padding: 5px;
}

#endDiv fieldset {
  border-radius: 20px;
}

.row .subTitle {
  display: inline-block;
  text-decoration: underline;
}

#timer {
  z-index: 1000; /* on top the overlay */
  position: absolute;
  left: 5px;
  top: 30px;
  width: 140px;
  text-align: center;
  font-size: 2.3em;
  background-color: #fff;
  border: 4px solid #000;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
#timer.paused {
  background-color: #f00;
  color: #fff;
}

#actionDiv {
  height: 40%;
}

#myDialog {
  text-align: center;
  display: block;
  height: auto;
  max-width: 50%;
}
#myDialog > button {
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 50px;
}

.closeIcon {
  cursor: pointer;
  float: right;
}
.closeIcon:hover {
  transform: rotate(10deg);
}
