:root {
  --lightbox-bg-color: #2a2c37;
  --btn-bg-color: #a9a9a9;
  --btn-bg-color: #a9a9a9;
  --btn-hover-color: #d3d3d3;
  --btn-selected-bg-color: #0d9d0d;
  --absent-fg-color: #a9a9a9;
  --footer-bg-color: #8a466f;
  --footer-fg-color: #fff;
  --close-icon-color: #ff2020;
}

html {
  box-sizing: border-box;
  font-size: 1em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #adff5c;
  overflow: hidden;
}

header {
  position: fixed;
  padding-top: 10px;
  height: 80px;
  left: 50%;
  width: 97%;
  margin-top: 10px;
  border: 3px solid #000;
  border-radius: 60px 0px 60px 0px;
  transform: translateX(-50%);
  background-color: var(--header-bg-color);
  color: var(--header-fg-color);
  text-align: center;
}

#header {
  width: 90%;
  margin: 10px auto;
  text-align: center;
  border-radius: 20px;
  background-color: #c9b1d1;
  padding: 10px;
}

.row {
  width: 90%;
  margin: 10px auto;
  text-align: center;
  border-radius: 20px;
  background-color: #c9b1d1;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px 0px 5px #606;
  width: 19%;
  margin: 5px;
  background-color: #c9b1d1;
  text-align: center;
  transform: rotate(-3deg);
}
.thumbnail:hover {
  background-color: #fff;
}

.thumbnail:nth-of-type(even) {
  transform: rotate(3deg);
}

.thumbnail > p:nth-of-type(2):hover {
  background-color: #fff;
  cursor: pointer;
}

.thumbnail .thumbLogo {
  border: 5px solid #fff;
  width: 90%;
  max-height: 120px;
  margin: 10px 0px;
}

.thumbnail .dataIcon {
  float: right;
}

.thumbnail p:nth-of-type(1) {
  border-radius: 20px 20px 0px 0px;
  background-color: #606;
  opacity: 0.5;
  color: #fff;
  padding: 5px;
  font-size: 1.2em;
}

.thumbnail p {
  text-align: center;
}

.smallerText {
  font-size: 0.8em;
}

.thumbnail .dataIcon {
  float: right;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.thumbnail .dataIcon:hover {
  transform: scale(1.3);
}

.todo {
  opacity: 0.3;
}

#footer img {
  cursor: pointer;
  margin: 0px 10px;
  border: 2px solid --var(--footer-bg-color);
  opacity: 0.6;
}

#footer img.selected {
  opacity: 1;
  border: 2px solid #fff;
}

#footer img.flag:hover {
  transform: scale(1.5);
  border: 2px solid #fff;
}

#footer .submenu {
  position: absolute;
  background-color: var(--footer-bg-color);
  color: var(--footer-fg-color);
  border: 2px solid var(--footer-fg-color);
  padding: 6px;
  font-size: 1.2em;
  visibility: collapse;
  border-radius: 15px 15px 0px 0px;
  opacity: 0.8;
}

.savedGame {
  border: 3px solid #fff;
  margin: 5px 0px;
}

.savedGame .badge {
  background-color: #f00;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 0px;
  width: 100%;
  /* display: block; */
  margin-bottom: 5px;
}

.savedGame legend,
.savedGame .subTitle {
  padding: 5px;
}

.savedGame ul {
  list-style-type: none;
  border-bottom: 1px dotted #fff;
  columns: 4;
  padding: 5px;
  width: 100%;
}

.savedGame ol {
  list-style-position: inside;
}

.savedGame .deleteButton {
  float: right;
  cursor: pointer;
  /* margin: 10px; */
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}

#darkOverlay {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Used for savedGames */
.yellowCard,
.redCard {
  display: inline-block;
  width: 15px;
  height: 20px;
  border: 1px solid #000;
  margin: 0 5px;
  box-shadow: 0px 0px 5px #000;
}
.yellowCard {
  /* left: -30px; */
  background-color: yellow;
  transform: rotate(-5deg);
}
.redCard {
  left: -20px;
  background-color: red;
  transform: rotate(5deg);
}
/* /used for .savedGames */

/* useful for all games */
.blink {
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#help {
  padding: 0px;
}
#help .container {
  padding: 0px 5px;
}
#help h1 {
  border-radius: 15px 15px 0px 0px;
  background-color: #606;
  padding: 3px;
}
#help ul {
  list-style-position: inside;
}
#help ul li {
  font-size: 1.2em;
  margin: 15px 0px;
}

span.icon,
a.icon {
  cursor: pointer;
  border: 5px solid var(--footer-bg-color);
  border-radius: 15px;
  padding: 6px;
  margin: 2px;
}

span.icon:hover,
a.icon:hover {
  opacity: 0.5;
}

#footer span.icon:hover + .submenu,
#footer a.icon:hover + .submenu {
  transform: translate(-100px, -50px);
  visibility: visible;
}

.dataIcon {
  cursor: pointer;
  padding: 5px;
  background-color: var(--lightbox-bg-color);
  border: none;
}

.dataIcon img {
  height: 30px;
}

.dataIcon img:hover {
  transform: scale(1.3);
}

.closeIcon {
  color: var(--close-icon-color);
  cursor: pointer;
  font-size: 40px;
  float: right;
}
.closeIcon:hover {
  transform: rotate(10deg);
}

#savedGames .closeIcon {
  /* float: right; */
  margin-left: auto;
  /* margin-bottom: auto; */
}

.lightbox {
  z-index: 1000;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  width: 70%;
  height: 80%;
  overflow: auto;
  top: 50%;
  left: 50%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #fff;
  border: 2px solid 606;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--lightbox-bg-color);
  color: #fff;
}

#savedGames {
  justify-content: start;
}

.lightbox img {
  max-width: 60%;
  max-height: 60%;
}

.dataFile {
  height: 90%;
}

.dataFile p.bottom {
  text-align: center;
}

.dataFile button {
  font-size: 2em;
  margin-top: 1em;
}

#dataDiv textarea {
  min-height: 80%;
  width: 100%;
  background-color: #222;
  color: #fff;
}

ul.playersList {
  list-style-type: none;
  columns: 4;
}

input.cbPlayer {
  width: 1.5em;
  height: 1.5em;
}

ul.playersList li {
  line-height: 1.8em;
}

#gameTeams {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 10px;
}

#gameTeams > .teamName {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 3px;
}

#gameTeams > .teamName > ul {
  list-style-position: inside;
}

#gameTeams .footer {
  align-self: flex-end;
}

.btn,
select {
  font-size: 2em;
  display: inline;
  cursor: pointer;
  background-color: var(--btn-bg-color);
  border: 2px solid #606;
  margin: 3px;
  border-radius: 5px;
}

.btn:disabled {
  background-color: darkgrey;
  cursor: not-allowed;
}

select {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  max-width: 90%;
}

button {
  cursor: pointer;
}

.btn:hover:not(#startButton, .cancelBtn, .okBtn) {
  background-color: var(--btn-hover-color);
  transform: scale(1.2);
}

#startButton {
  display: block;
  width: 100%;
  font-size: 2.5em;
  padding: 8px 40px;
  border-radius: 20px;
}

#startButton:disabled {
  opacity: 0.5;
}

#startButton:hover {
  background-color: var(--btn-hover-color);
}

.cancelBtn:hover {
  background-color: #f00;
}

.okBtn:hover {
  background-color: green;
}

.gameTitle {
  text-align: center;
  border-bottom: 4px dotted #fcc;
  border-radius: 10px;
}

.selectedTeam,
.btn.selected {
  background: var(--btn-selected-bg-color);
  color: #fff;
  border: 3px solid #fff;
}

.badge {
  background-color: #f00;
  color: #fff;
  border-radius: 15px;
  padding: 10px;
  font-size: 1.2em;
}

#savedGames .badge {
  float: left;
}

#footer {
  position: absolute;
  padding: 10px;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: var(--footer-bg-color);
  color: var(--footer-fg-color);
  border-top: 1px solid #000;
  z-index: 1000;
}

#footer span.icon:nth-last-of-type(1) {
  position: absolute;
  top: 0;
  right: 5px;
}

.footer {
  justify-content: flex-end;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.transparent-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: transparent;
  display: none;
}

#endTitle {
  border: 3px dotted #ddd;
  padding: 5px;
}

#endDiv fieldset {
  border-radius: 20px;
}

.row .subTitle {
  display: inline-block;
  text-decoration: underline;
}

#topicsList02 {
  font-size: 1.5em;
  float: right;
  margin: 0px;
  margin-right: 40px;
}

.strike {
  color: var(--absent-fg-color);
  text-decoration: line-through;
}
