:root {
  --header-bg-color: #a10001;
  --header-fg-color: #fff;
  --main-bg-color: #b0c417;
  --board-bg-color: #fce8fa;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  overflow: hidden;
}

img.logo {
  position: absolute;
  top: 15px;
  right: 50px;
  width: 20%;
  z-index: 10;
}

#rightButton {
  background-color: #5cb85c;
  padding: 10px;
  margin: 20px;
}

#wrongButton {
  background-color: #f00;
  color: #fff;
  padding: 10px;
  margin: 20px;
}

header {
  border-radius: 20px 20px 0px 0px;
  width: 50%;
  height: 150px;
}

#gameDiv {
  width: 95%;
  height: 90%;
  transform: translateX(-50%) translateY(-53%);
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
}
.prompt {
  display: block;
  font-size: 2em;
  padding: 10px 20px;
  border: 4px solid #ffc;
  background-color: #535561;
}

#questionDiv textarea {
  width: 95%;
  height: 50%;
  background-color: #626262;
  color: #fff;
  font-size: 4em;
  /* font-weight: bold; */
}
#gameBoard {
  position: absolute;
  height: 70%;
  width: 80%;
  background-color: var(--board-bg-color);
  border: 2px solid #000;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  border-radius: 20px;
  padding: 10px;
  padding-top: 30px;
}

#savedAnswers {
  list-style-position: inside;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
}

#savedAnswers .icons {
  float: right;
  cursor: pointer;
  margin: 0px 10px;
}

#savedAnswers .icons:hover {
  transform: scale(1.5);
}

.rightAnswer {
  background-color: green;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  font-weight: normal;
}

#scoreDiv {
  width: 70%;
  text-align: center;
  border-top: 3px dotted #fff;
  padding: 25px;
  margin: 15px auto;
  font-size: 1.5em;
  font-weight: bold;
}

.scoreLabel {
  border: 3px solid #fff;
  background-color: darkblue;
  color: #ffc;
  padding: 10px;
  cursor: pointer;
}

.scoreLabel:hover {
  border: 3px solid #606;
}

.wrongAnswer {
  background-color: red;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  font-weight: normal;
}

#savedAnswers li:hover {
  background-color: darkgrey;
  border-radius: 10px;
}

.teamPlayersList {
  font-size: 1.3em;
  list-style-type: none;
}

.teamPlayersList li {
  cursor: pointer;
  padding: 2px 5px;
}

#actionDiv {
  text-align: center;
  height: 30%;
}
ul#actions {
  list-style-type: none;
}
ul#actions li {
  display: inline;
}

span.icon,
a.icon {
  cursor: pointer;
  border: 2px solid darkgreen;
  border-radius: 15px;
  padding: 6px;
  margin: 2px;
}

#footer span.icon:nth-last-of-type(1) {
  position: absolute;
  top: 0;
  right: 5px;
}

span.icon:hover,
a.icon:hover {
  border-left: 2px solid #adff5c;
  border-right: 2px solid #adff5c;
}

span.icon.no-border {
  border: 3px none;
}

#questionDiv {
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
#questionDiv h1 {
  width: 100%;
}
#questionDiv p.footer {
  align-self: flex-end;
}

.teamList,
.teamPlayer {
  display: none;
}
.teamPlayer {
  line-height: 1.5em;
  font-size: 1.5em;
}
.teamPlayer > * {
  cursor: pointer;
}

.activePlayer {
  display: block;
}

ul.playersList {
  list-style-type: none;
  columns: 4;
}

#selectedWinners {
  list-style-position: inside;
  font-size: 1.5em;
}

#selectedWinners li {
  cursor: pointer;
}

#selectedWinners li:hover {
  text-decoration: underline;
}

#question {
  margin-top: 30px;
  font-size: 3em;
}

#endTitle {
  border: 3px dotted #ddd;
  padding: 5px;
}

#endDiv fieldset {
  border-radius: 20px;
}

#myDialog {
  text-align: center;
  display: block;
  height: auto;
  max-width: 50%;
}
#myDialog > button {
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 50px;
}

.row .subTitle {
  display: inline-block;
  text-decoration: underline;
}
