:root {
  --header-bg-color: #d9c2d0;
  --header-fg-color: #606;
  --main-bg-color: #7d909c;
  --board-bg-color: #3c5c70;
  --board-fg-color: #fff;
  --teamList-bg-color: #dde1e4;
  --teamList-fg-color: #606;
  --teamName-bg-color: #5a7585;
  --teamName-fg-color: #fff;
  --selectedPlayer-bg-color: #73628e;
  --selectedPlayer-fg-color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  overflow: hidden;
}

img.logo {
  position: absolute;
  top: 5px;
  left: 50px;
  z-index: 10;
}

#gameBoard {
  position: absolute;
  text-align: center;
  border-collapse: collapse;
  font-weight: bold;
  height: 70%;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#gameBoard td {
  border: 3px solid lightgrey;
  background-color: var(--board-bg-color);
  color: var(--board-fg-color);
  font-size: 2em;
  cursor: pointer;
  padding: 0px;
}

#gameBoard td.done {
  background: transparent;
  border: 2px transparent;
}

#gameBoard td.letterSelected {
  background: #fff;
  color: #000;
}

.goal {
  font-weight: bold;
}

.scorer {
  padding: 3px 20px;
}

.scorer:hover {
  border-left: 4px solid #606;
  border-right: 4px solid #606;
}

#team01,
#team02 {
  position: absolute;
  text-align: center;
  background-color: var(--teamList-bg-color);
  color: var(--teamList-fg-color);
  border: 3px solid #fff;
  border-radius: 5px;
  top: 50%;
  width: 18%;
  transform: translateY(-50%);
}

#team01 {
  left: 10px;
}

#team02 {
  right: 10px;
}

#team01 > h1,
#team02 > h1 {
  background-color: var(--teamName-bg-color);
  color: var(--teamName-fg-color);
}

li.selectedPlayer {
  border-left: 5px solid #606;
  border-right: 5px solid #606;
  background: var(--selectedPlayer-bg-color);
  color: var(--selectedPlayer-fg-color);
}

#scoreTeam01,
#scoreTeam02 {
  font-size: 3em;
  background-color: #fff;
  color: #606;
  display: block;
}

.teamPlayersList {
  font-size: 1.3em;
  line-height: 1.5em;
  list-style-type: none;
}

.teamPlayersList li {
  cursor: pointer;
  padding: 2px 5px;
}

.selectedTeam,
.rowBtn.selected,
.colBtn.selected {
  background: var(--btn-selected-bg-color);
  color: #fff;
  border: 5px solid #fff;
}

#actionDiv {
  text-align: center;
}
ul#actions {
  list-style-type: none;
}
ul#actions li {
  display: inline;
}

.teamList,
.teamPlayer {
  display: none;
}
.teamPlayer {
  line-height: 1.5em;
  font-size: 1.5em;
}
.teamPlayer > * {
  cursor: pointer;
}

.activePlayer {
  display: block;
}

#selectedWinners {
  list-style-position: inside;
  font-size: 1.5em;
}

#selectedWinners li {
  cursor: pointer;
}

#selectedWinners li:hover {
  text-decoration: underline;
}

#myDialog {
  text-align: center;
  display: block;
  height: auto;
  max-width: 50%;
}

#myDialog > button {
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 50px;
}
