<div class="lightbox hidden" id="dataDiv">
  <h1>
    <span data-i18n="localDataTitle">Local data title</span>
    <span class="closeIcon" onclick="hide(dataDiv);">&#10006;</span>
  </h1>
  <div id="myClassesDataDiv" class="dataFile">
    <p data-i18n="myClasses">My classes file</p>
    <textarea id="myData-myClasses"></textarea>
    <button data-i18n="saveDataButton" onclick="saveLocalData('myClasses');">
      Save local data
    </button>
  </div>
  <div id="tictactoeDataDiv" class="dataFile">
    <p data-i18n="data-tictactoe">TicTacToe data file</p>
    <textarea id="myData-tictactoe"></textarea>
    <button data-i18n="saveDataButton" onclick="saveLocalData('tictactoe');">
      Save local data
    </button>
  </div>
  <div id="soccerDataDiv" class="dataFile">
    <p data-i18n="data-soccer">Soccer data file</p>
    <textarea id="myData-soccer"></textarea>
    <button data-i18n="saveDataButton" onclick="saveLocalData('soccer');">
      Save local data
    </button>
  </div>
  <div id="carraceDataDiv" class="dataFile">
    <p data-i18n="data-carrace">Car Race data file</p>
    <textarea id="myData-carrace"></textarea>
  </div>
  <div id="grammargambleDataDiv" class="dataFile">
    <p data-i18n="data-grammargamble">Grammar Gamble data file</p>
    <textarea id="myData-grammargamble"></textarea>
  </div>
</div>
