<div class="footer">
  <!-- <button onclick="hide(endDiv);" class="btn" data-i18n="close">Close</button> -->
  <button
    onclick="return goHome();"
    class="btn"
    data-href="../../index.html"
    data-i18n="goHome"
  >
    Go Home
  </button>
  <button
    id="unSaveButton"
    onclick="removeFromLocalStorage();"
    class="btn"
    data-i18n="unSave"
  >
    Discard
  </button>
  <button
    id="saveButton"
    onclick="saveToLocalStorage();"
    class="btn hidden"
    data-i18n="save"
  >
    Save
  </button>
</div>
