<div class="lightbox hidden" id="gameTeams">
  <div id="displayTeam01" class="teamName">
    <h1 data-i18n="team01">Team 01</h1>
    <ul id="displayTeam01Players" class="teamPlayersList"></ul>
  </div>
  <div id="displayTeam02" class="teamName">
    <h1 data-i18n="team02">Team 02</h1>
    <ul id="displayTeam02Players" class="teamPlayersList"></ul>
  </div>
  <div id="displayTeam03" class="teamName">
    <h1 data-i18n="team03">Team 03</h1>
    <ul id="displayTeam03Players" class="teamPlayersList"></ul>
  </div>
  <div id="displayTeam04" class="teamName">
    <h1 data-i18n="team04">Team 04</h1>
    <ul id="displayTeam04Players" class="teamPlayersList"></ul>
  </div>
  <div id="displayTeam05" class="teamName">
    <h1 data-i18n="team05">Team 05</h1>
    <ul id="displayTeam05Players" class="teamPlayersList"></ul>
  </div>
  <div id="displayTeam06" class="teamName">
    <h1 data-i18n="team06">Team 06</h1>
    <ul id="displayTeam06Players" class="teamPlayersList"></ul>
  </div>
  <div id="displayTeam07" class="teamName hidden">
    <h1 data-i18n="team07">Team 07</h1>
    <ul id="displayTeam07Players" class="teamPlayersList"></ul>
  </div>
  <div id="displayTeam08" class="teamName hidden">
    <h1 data-i18n="team08">Team 08</h1>
    <ul id="displayTeam08Players" class="teamPlayersList"></ul>
  </div>
  <div id="displayTeam09" class="teamName hidden">
    <h1 data-i18n="team09">Team 09</h1>
    <ul id="displayTeam09Players" class="teamPlayersList"></ul>
  </div>
  <div id="displayAbsent" class="">
    <h1 data-i18n="absentPlayers">Absent players</h1>
    <ul id="displayAbsentPlayers" class=""></ul>
  </div>
  <span class="closeIcon" onclick="hide(gameTeamsDiv);">&#10006;</span>
  <div class="footer">
    <button
      type="button"
      id="drawGroupsButton"
      class="btn"
      onclick="drawTeams(nbGroups);"
      data-i18n="drawTeams"
    >
      Draw teams
    </button>
  </div>
</div>
