<div class="lightbox hidden" id="myDialog">
  <span class="closeIcon" onclick="hide(dialogDiv);">&#10006;</span>
  <h1></h1>
  <p></p>
  <button
    class="btn cancelBtn"
    onclick="isConfirm(false, event);"
    data-i18n="cancel"
  >
    Cancel
  </button>
  <button class="btn okBtn" onclick="isConfirm(true, event);" data-i18n="ok">
    Ok
  </button>
</div>
