:root {
  --header-bg-color: #6cd5ff;
  --header-fg-color: #606;
  --main-bg-color: #b29285;
  --board-bg-color: #d0bcb4;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  overflow: hidden;
}

img.logo {
  position: absolute;
  top: 5px;
  left: 50px;
  z-index: 10;
}

#gameBoard {
  position: absolute;
  height: 70%;
  width: 80%;
  background-color: var(--board-bg-color);
  border: 2px solid #000;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 20px;
  padding: 10px;
  padding-top: 30px;
}

#savedAnswers {
  list-style-position: inside;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
}

.rightAnswer {
  background-color: green;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  font-weight: normal;
}

.wrongAnswer {
  background-color: red;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  font-weight: normal;
}

#savedAnswers li:hover {
  background-color: darkgrey;
  border-radius: 10px;
}

.teamPlayersList {
  font-size: 1.3em;
  list-style-type: none;
}

.teamPlayersList li {
  cursor: pointer;
  padding: 2px 5px;
}

#actionDiv {
  text-align: center;
}
ul#actions {
  list-style-type: none;
}
ul#actions li {
  display: inline;
}

span.icon,
a.icon {
  cursor: pointer;
  border: 2px solid darkgreen;
  border-radius: 15px;
  padding: 6px;
  margin: 2px;
}

#footer span.icon:nth-last-of-type(1) {
  position: absolute;
  top: 0;
  right: 5px;
}

span.icon:hover,
a.icon:hover {
  border-left: 2px solid #adff5c;
  border-right: 2px solid #adff5c;
}

span.icon.no-border {
  border: 3px none;
}

#questionDiv {
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
#questionDiv img {
  max-width: 100%;
  height: auto;
}
#questionDiv p.footer {
  align-self: flex-end;
}
#questionDiv h2 {
  background-color: #428bca;
  border: 2px solid #fff;
  color: #000;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

.teamList,
.teamPlayer {
  display: none;
}
.teamPlayer {
  line-height: 1.5em;
  font-size: 1.5em;
}
.teamPlayer > * {
  cursor: pointer;
}

.activePlayer {
  display: block;
}

ul.playersList {
  list-style-type: none;
  columns: 4;
}

#selectedWinners {
  list-style-position: inside;
  font-size: 1.5em;
}

#selectedWinners li {
  cursor: pointer;
}

#selectedWinners li:hover {
  text-decoration: underline;
}

#question {
  margin-top: 30px;
  font-size: 3em;
}

#endTitle {
  border: 3px dotted #ddd;
  padding: 5px;
}

#endDiv fieldset {
  border-radius: 20px;
}

#myDialog {
  text-align: center;
  display: block;
  height: auto;
  max-width: 50%;
}
#myDialog > button {
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 50px;
}

.row .subTitle {
  display: inline-block;
  text-decoration: underline;
}

.closeIcon {
  cursor: pointer;
  float: right;
}
.closeIcon:hover {
  transform: rotate(10deg);
}
