:root {
  --header-bg-color: #e9ede3;
  --header-fg-color: #7953a7;
  --main-bg-color: #9eb285;
}

html,
body {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 70%;
  background-size: 750px 500px;
  background-color: var(--main-bg-color);
  overflow: hidden;
}

#gameBoard {
  z-index: 10;
  position: fixed;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 2px solid #000;
}

#questionDiv {
  align-items: center;
  font-size: 1.2em;
}

#questionDiv img {
  max-width: 100%;
  height: auto;
}

#timer {
  float: right;
  padding: 20px;
  transition: all 0.5s ease;
  border: 3px solid darkgrey;
  border-radius: 30px;
  background-color: grey;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}

#timer.paused {
  background-color: #f00;
  color: #fff;
}

#timer.started {
  transform: rotate(360deg);
}

#winningTeamList > li > span.badge {
  float: left;
  position: relative;
  left: -5px;
  margin: 0px;
  padding: 5px;
  border: 2px solid #606;
}
#winningTeamList > li > span {
  float: right;
}

#winningTeamList > li:nth-of-type(-n + 4) > span.badge {
  background-color: #00d100;
  color: #000;
}
#winningTeamList > li:nth-of-type(1) > span.badge {
  background-color: yellow;
  color: #000;
}
#winningTeamList > li:last-of-type > span.badge {
  background-color: #000;
}

#actionDiv {
  text-align: center;
}
ul#actions {
  list-style-type: none;
}
ul#actions li {
  display: inline;
}

#questiondiv img {
  max-width: 100%;
  height: auto;
}

.teamList,
.teamPlayer {
  display: none;
}
.teamPlayer {
  line-height: 1.5em;
  font-size: 1.5em;
}
.teamPlayer > * {
  cursor: pointer;
}

.activePlayer {
  display: block;
}

#endDiv #winningTeamList {
  columns: 1;
}
#endDiv #winningTeamList li {
  margin: auto;
  /* text-align: center; */
  min-width: 50%;
  background-color: #c9d1b1;
  border: 2px solid #606;
  border-radius: 10px;
  color: #000;
  padding: 2px;
}

.row .subTitle {
  display: inline-block;
  text-decoration: underline;
}

#actionDiv {
  height: 40%;
}

#myDialog {
  text-align: center;
  display: block;
  height: auto;
  min-height: 25%;
  max-width: 50%;
}
#myDialog > button {
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 50px;
}

header.carrace {
  position: fixed;
  padding: 5px;
  height: 80px;
  left: 50%;
  width: 97%;
  margin-top: 10px;
  border: 3px solid #fff;
  border-radius: 30px 30px 0px 0px;
  background-color: #e9ede3;
  color: #fff;
  text-align: center;
}

.runner {
  z-index: 9;
  position: relative;
  padding: 3px;
  background: darkgrey;
  border: 1px solid #000;
  border-bottom: 4px solid #000;
  border-right: 3px dotted #000;
  height: 60px;
  cursor: pointer;
}

.runner.selected {
  background: linear-gradient(
    to top,
    #254117,
    #a6b3bf,
    #a6b3bf,
    #b2bdc7,
    #b2bdc7,
    #bec7d0,
    #cad1d8,
    #d6dbe1,
    #e1e6ea /* #c9d1b1, */ /* #c9d1b1, */ /* #c9d1b1, */ /* #c9d1b1 */
  );
}

.vehicle {
  z-index: 21;
  position: absolute;
  left: 0px;
  transition: all 2s ease-in;
}

.runner .bonus {
  z-index: 11;
  position: absolute;
  left: -105px;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #000;
}

.bonus img {
  max-width: 50px;
  max-height: 50px;
}

.bonus.negative {
  border: 2px solid #000;
  background-color: #ff8a14;
}

.bonus.positive {
  border: 2px solid #000;
  background-color: #42ff1c;
}

.die {
  position: absolute;
  font-size: 2em;
  margin: 5px 0px;
  left: -55px;
  top: -5px;
  width: 50px;
  padding: 2px;
  background-color: #fff;
  text-align: center;
  border-radius: 30px;
  border: 2px solid #000;
}

.checkered {
  background-image: linear-gradient(
      45deg,
      #555 25%,
      transparent 25%,
      transparent
    ),
    linear-gradient(-45deg, #555 25%, transparent 25%, transparent),
    linear-gradient(45deg, transparent 75%, #555 75%),
    linear-gradient(-45deg, transparent 75%, #555 75%);
  background-size: 10px 10px;
}

#finish {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 100%;
  z-index: 20;
  background-color: #fff;
}

#finishheader {
  position: absolute;
  bottom: -50px;
  right: -50px;
  cursor: ew-resize;
}

.answer {
  border: 2px dotted #fff;
  border-radius: 5px;
  padding: 10px;
}
